@charset "utf-8";

body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	
}

#geral {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#geral > #auxiliar {
	flex: 0.3;
	background-color: #F5F5F5;
	border-color: #DDD;
	border-style: solid;
	border-width: 0 1px 0 0;
	padding: 15px;
}

#geral > #auxiliar > #informacoes > h1 {
	color: #000099;
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-top: 30px;
}

#geral > #auxiliar > #hobbies > h2 {
	color: #000099;
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

#geral > #auxiliar > #informacoes > p {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	color: #666;
	margin: 40px 0;
}

#geral > #auxiliar > #informacoes > p > img {
	margin-right: 5px;
}

#geral > #principal {
	display: flex;
	flex: 0.7;
	flex-direction: column;
	font-family: 'Open sans', sans-serif;
	padding: 15px;
}

#geral > #principal h2 {
	border-color: #000099;
	border-style: solid;
	border-width: 0 0 1px 0;
	color: #000099;
	display: inline-block;
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 30px 0 15px 0;
}

/* #geral > #principal > #formacao > ul {
	margin-left: 30px;
}

#geral > #principal > #formacao > ul > li {
	margin-bottom: 15px;
}

#geral > #principal > #formacao > ul > li > strong {
	font-weight: bold;
} */

.linha-do-tempo {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.linha-do-tempo > :first-child {
	flex: 0.3;
	border-color: #999;
	border-style: solid;
	border-width: 0 1px 0 0;
	margin: 0 10px 0 0;
	font-size: 0.9rem;
	padding: 0 10px 0 0;
	text-align: right;
}

.linha-do-tempo > :last-child {
	flex: 0.7;
}

.linha-do-tempo .bandeira {
	display: flex;
}

.linha-do-tempo .bandeira img {
	margin-left: 5px;
	width: 24px;
}

.linha-do-tempo strong {
	font-weight: bold;
}

.linha-do-tempo small {
	color: #333;
	font-size: 0.8rem;
	font-style: italic;
}

#geral > #principal > #habilidades {
	/* background-color: #FF0; */
}
